{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/accueil/accueil.css') }}">
{% endblock %}

{% block main %}
<h1>Sandrine Coupart</h1>

<div class="services">
    <h2>Mes Services</h2>
    <div class="services-text">
        <p>
            Je vous propose des <br> 
            recettes adaptées à <br> 
            toutes sortes de régimes, <br> 
            végétarien, vegan, sans gluten... <br>
            Et qui évite tous les alérgéne <br> 
            fruit à coque, arachide, <br> 
            lait, fruit de mer.
        </p>
    </div>
</div>

<div class="apropos">
    <h2>À propos</h2>
    <div class="apropos-text">
        <p>
            Je suis diététicienne <br> 
            Nutritionniste diplômée <br> 
            depuis plus de 10 ans.<br> 
            Je reçois des personnes avec une<br>  
            très large variété  
            de profil, d’âge, de régime, de situation.<br>  
            Sur ma plateforme, vous pouvez accéder à mes recettes. <br> 
            Et pour 12€ par mois vous pouvez accéder <br>  
            à l’intégralité de ma recette <br>  
            healthye et délicieuse.
        </p>
    </div>
</div>
{% endblock %}