{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mentionLegale/mentionlegale.css') }}">
{% endblock %}

{% block main %}
	<div class="mentionslegale">
		<h1>Mentions légales</h1>

		<h2>Dénomination sociale</h2>
		<p>Garage V.Parrot SARL</p>

		<h2>Montant capital social</h2>
		<p>10 000€</p>

		<h2>Adesse du siège social</h2>
		<p>21 Pl. Marius Pinel, 31500 Toulouse</p>

		<h2>Contact entreprise</h2>
		<p>mail: ParotSARL@Gmail.com
		tél: 07 84 14 46 00</p>

		<h2>Site d’hébergement</h2>
		<p>XXXXXXXXXX</p>

		<h2>Site d’hébergement adresse</h2>
		<p>XXXXXXXXXX</p>

		<h2>Site d’hébergement numéro téléphone</h2>
		<p>XXXXXXXXXX</p>

		<h2>Numéro RCS</h2>
		<p>RCS TOULOUSE B 517 403 572</p>

		<h2>Numéro individuel d’identification</h2>
		<p>FR 45 517 403 572</p>

		<h1>CONDITIONS GENERALES DE VENTE</h1>

		<h2>Article 1 - Collecte de données à caractère personnel</h2>
		<p>La Société, dans ses relations avec l’Utilisateur, est amenée à traiter, pour son propre compte, des données à caractère personnel de l’Utilisateur lesquelles données lui ont été communiquées par ce dernier suite à l’envoi d’un formulaire de collecte disponible sur le Site et ultérieurement au cours de ses divers échanges avec la Société.Ces informations sont nécessaires pour permettre à l’Utilisateur d’obtenir des informations sur les services proposés par la Société.L’Utilisateur a préalablement consenti aux traitements désignés dans les présentes mentions légales, en cliquant sur le bouton « envoyer » ou « soumetre »  lors de l’envoi du formulaire de collecte à la Société. La Société ne procèdera à aucun autre traitement de données à caractère personnel autre que ceux décrits au sein des présentes mentions légales, sans le consentement exprès et préalable de l’Utilisateur.</p>

		<h2>Article 2 - Finalités du traitement</h2>
		<p>Les données à caractère personnel collectées par la Société sont traitées pour les finalités suivantes :
			répondre aux demandes d’information de l’Utilisateur ;
			effectuer les opérations relatives à sa relation commerciale avec l’Utilisateur (p. ex. répondre aux demandes de devis de l’Utilisateur, proposer des dates d’intervention sur le véhicule de l’Utilisateur, renseigner sur la disponibilité d’un bien) ;
			réaliser des opérations de sollicitations commerciales ;
			élaborer des statistiques commerciales ;
			organiser de jeux concours, de loteries ou de toute opération promotionnelle ;
			gérer les demandes d’exercice des droits énumérés à l’article 3 ci-dessous.
		</p>

		<h2>Article 3 - Vos droits</h2>
		<p>3.1 - Droit d’accès, de rectification, à la portabilité, de suppression et d’oppositionConformément à la loi du 6 janvier 1978, modifiée, relative à l’informatique, aux fichiers et aux libertés (la « Loi n° 78-17») et au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données (le « RGPD »), l’Utilisateur dispose du droit d’accéder à ses données personnelles, les rectifier, les effacer, demander leur portabilité, demander la limitation de ce traitement, s’y opposer ou retirer son consentement.
		L’exercice de ces droits s’effectue à tout moment en écrivant à la Société par mail : julien.merlaud@alternative-autoparts.frL’Utilisateur peut, à tout moment, porter réclamation devant l’autorité de contrôle compétente.

		3.2 - Directives relatives à la conservation, à l’effacement et à la communication des données après le décès de l’Utilisateur Tout Utilisateur a le droit de définir des directives relatives à la conservation, à l’effacement et à la communication de ses données à caractère personnel après son décès.Tout Utilisateur peut ainsi désigner ou non un tiers qui pourra avoir accès aux données communiquées à la Société. Ce tiers peut être désigné par l’Utilisateur en écrivant un mail, en ce sens, à l’adresse suivante : ParotSARL@Gmail.com, en indiquant ses nom, prénom et adresse de courrier électronique.Si l’Utilisateur n’a défini aucune directive concernant le sort de ses données personnelles suite à son décès, les héritiers de l’Utilisateur peuvent demander à la Société d’obtenir toute information utile à la liquidation et au partage de la succession en adressant un courrier à l’adresse électronique suivante : ParotSARL@Gmail.com.Les héritiers peuvent également, après le décès de l’Utilisateur, obtenir l’arrêt de tout traitement de données personnelles du défunt.
		</p>

		<h2>Article 4 - Conservation des données</h2>
		<p>Les données personnelles de l’Utilisateur en relation avec une demande d’information sur les services proposés par la Société (p. ex. nom, prénom(s), adresse email, adresse de livraison, adresse de facturation) sont conservées pendant une durée de trois (3) ans à compter de leur collecte.Les statistiques de mesures d’audience ne sont pas conservées pour une durée supérieure à treize (13) mois.En cas de procédure contentieuse, toutes informations, documents et pièces contenant des données personnelles de l’Utilisateur tendant à établir les faits litigieux peuvent être conservés pour la durée de la procédure, y compris pour une durée supérieure à celles indiquées ci-dessus.Certaines données pourront être archivées au-delà des durées prévues pour les besoins de la recherche, de la constatation et de la poursuite des infractions pénales dans le seul but de permettre, en tant que besoins, la mise à disposition de ces données à l’autorité judiciaire.L'archivage implique que ces données soient anonymisées et ne soient plus consultables en ligne mais soient extraites et conservées sur un support autonome et sécurisé.</p>

		<h2>Article 5 - Confidentialité des données</h2>
		<p>Les données personnelles de l’Utilisateur collectées et traitées par la Société sont strictement confidentielles.La Société pourra être amenée à transférer de manière temporaire et sécurisée à des tiers, notamment aux réparateurs ayant adhéré à l’un des réseaux du groupe auquel appartient la Société, certaines données personnelles de l’Utilisateur lorsque cela est nécessaire :

			pour répondre à la demande de devis de l’Utilisateur ;
			pour proposer des dates d’intervention sur le véhicule de l’Utilisateur ;
			à l’exploitation et à la maintenance du Site (p. ex. hébergeur du Site) ;
			afin de répondre à une injonction des autorités légales.

			A ce titre, lorsque le tiers concerné est situé en dehors de l’Union Européenne, ou dans un pays ne disposant pas d’une réglementation adéquate au sens du RGPD, la Société encadre sa relation contractuelle avec ce tiers en adoptant un dispositif contractuel approprié.
			Vos données à caractère personnel, et notamment les adresses de courrier électronique, ne font l’objet d’aucune location, vente, échange ou partage avec d’autres prestataires si vous n’avez pas expressément accepté de recevoir des offres promotionnelles de la part d’autres sociétés susceptibles de vous intéresser.
			</p>

		<h2>Article 6 - Utilisation statistique de données anonymes</h2>
		<p>Dans le cadre de son activité, la Société collecte, traite et stocke des données statistiques relatives à l’utilisation du Site et relatives aux activités des Utilisateurs.Ces données d’utilisation, qui peuvent être transmises à des tiers, sont anonymes et ne permettent en aucun cas d’identifier les internautes, même de manière indirecte.</p>

		<h2>CREDITS ET DROITS D’AUTEUR</h2>
		<p>Crédit photo: pexels.com</p>
		<p>Crédit texte: Technicar Services</p>
	<div>
{% endblock %}