{% extends 'baseAdmin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/allergens/allergensNouveau.css') }}">
{% endblock %}

{% block main %}
<h1>Modification Allergie</h1>
<div class="allergen-affichage">
    {{ include('allergens/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>
{% endblock %}
