body {
    background-color: rgb(64, 152, 123);
    background-image: url("../../dossierImage/Recette/FraiseDansBolEnCeramique.webp");
    background-size: cover;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
h1 {
    margin: 0px;
    color: #000000;
    justify-self: start;
}
.recette {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 18px;
}
.recette-affichage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.recette-affichage__lien {
    text-decoration: none;
    color: #000000;
}
.img-contenant {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img {
    border-radius: 10px;
}
.recette-affichage__infos {
    padding-left: 8px; padding-right: 8px;
    border: 2px solid #000000;
    border-radius: 12px;
    box-shadow: 0px 5px 25px black;
}
.titre-recipe {
    margin: 8px;
}
p {
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
}
a {
    text-decoration: none;
    color: #ffffff;
}


@media screen and (min-width: 1000px) {
    body {
        background-image: url("../../dossierImage/contacteCLI/AsietteViandeEtTranche.webp");
    }
    h1 {
        color: #ffffff;
    }
    .nav-list__item {
        color: #ffffff;
    }
    main {
        gap: 60px;
    }
    .recette {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}