.header-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
.btn-new {
    padding: 2px;
    background-color: #48CC46;
    color: #ffffff;
    text-decoration: none;
    justify-self: center;
    border-radius: 5px;
    border: 1px solid;
    border-color: black;
}
.btn-new:hover {
    background-color: #289526;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.user-affichage {
    background-color: #D4D4D4;
    margin: 6px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 5px;
}
.user-affichage__items__email, .user-affichage__items__allergens, .user-affichage__items__diet {
    background-color: #ffffff;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-start;
    border-radius: 5px;
    border: 1px solid;
}
.user-affichage__items__btn-delete {
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-supprimer {
    background-color: #FF7A7A;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid;
    border-color: black;
    font-size: 22px;
}
.btn-supprimer:hover {
    background-color: #ff4646;
}
footer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
}
.page-courante {
    color: #ff8901; 
    font-size: 22px;
}
.page-non-courante {
    color: #000000;
    text-decoration: none;
}
.page-non-courante:hover {
    color: #858585;
}
.page-non-courante:active {
    color: #000000;
}
h1 {
    margin: 4px;
    font-size: 26px;
    align-self: center;
}
h2 {
    margin: 4px;
    font-weight: 400;
    font-size: 22px;
}
p {
    margin: 4px;
    border-radius: 5px;
}

@media screen and (min-width: 1000px) {
    .user {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .user-affichage {
        margin: 6px;
        padding: 4px;
        min-width: 320px;
        width: 400px;
        flex-direction: column;
        justify-content: start;
        border-radius: 5px;
    }
    .user-affichage__items__btn-delete {
        justify-items: end;
        height: 100%;
        align-items: end;
    }
}